<div class="video">
      <video id="remoteVideo" #remoteVideo playsinline autoplay></video>
      <video id="localVideo" #localVideo playsinline autoplay></video>
</div>
<div>
      <button #callButton [disabled]="callButtonDisabled" (click)="call()">Call</button>
      <button #startButton [disabled]="startButtonDisabled" (click)="openStream(undefined)">Open Camera</button>
      <button #startButton [disabled]="shareButtonDisabled" (click)="shareScreen()">Share Screen</button>
      <button #hangupButton [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
</div>
<div id="errorMsg"></div>