button {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 0 0 1em 0;
  padding: 0.5em 0.7em 0.6em 0.7em;
}

button:active {
  background-color: #cf402f;
}

button:hover {
  background-color: #cf402f;
}

button[disabled] {
  color: #ccc;
}

button[disabled]:hover {
  background-color: #d84a38;
}

/* video {
  background: #222;
  margin: 0 10px 0 0;
  width: calc(50% - 7px);
  height: calc(var(--width) * 0.75);
} */

.video {
  position:relative;
  width: calc(100% - 7px);
  height: calc(var(--width) * 0.75);
}

#remoteVideo {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #222;
  background-color: #222;
}

#localVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #222;
  background-color: #222;
}
  
video:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 400px) {
  video {
    margin: 0 5px 20px 0;
    width: calc(50% - 5px);
  }
}